<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <link href="/css/styles.css" rel="stylesheet">
  <!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" /> -->
</head>
<body>
  <h1 id="top-title">Deb Hamel</h1>
    <div class="site-header">
      <a href="/">home</a>
      <a href="/about">about</a>
      <a href="/blog">blog</a>
      <a href="/connect">connect</a>
    </div>
  <!-- <div class="container"> -->
  </body>
